body {
    margin: auto;
    color: #555;
    background: url(http://acdream.info/css/img/bg.gif);
}

.container {

}

.container table {
    background-color: #fff;
}

tbody, thead td, th {
    text-align: center;
}

tfoot td {
    line-height: 10px;
    text-align: right;
}

.accepted {
    color: green;
    font-weight: bold;
}

.wrong {
    color: red;
    font-weight: bold;
}

.heading {
    height:  40px;
    border: 1px solid #ddd;
    border-width: 0 1px;
    background: #f8f8f8;
    padding: 5px 10px;
}
.block.block-info {
    border-top: 5px solid #56A5EB;
}