<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.taurus.goj.dal.dao.contest.ContestDAO">
	
	<resultMap type="contest" id="contestResultMap"/>

	<insert id="createContest" parameterType="contest">
		INSERT INTO contest
		(
		id,
		title,
		description,
		announcement,
		password,
		duration,
		type,
		manager,
		start_time,
		status,
		create_time,
		update_time
		)
		VALUES
		(
		#{id},
		#{title},
		#{description},
		#{announcement},
		#{password},
		#{duration},
		#{type},
		#{manager},
		#{start_time},
		#{status},
		NOW(),
		NOW()
		)
	</insert>

	<select id="getContest" parameterType="contest" resultType="contest">
		<include refid="SelectContest" />
		<where>
			id = #{id}
		</where>
	</select>

	<select id="findContests" parameterType="contest" resultType="contest">
		<include refid="SelectContest" />
		<include refid="ContestWhereCondition" />
		LIMIT #{start_row}, #{page_size}
	</select>

	<update id="modifyContest" parameterType="contest"></update>

	<sql id="SelectContest">
		SELECT
		id,
		title,
		description,
		announcement,
		password,
		duration,
		type,
		manager,
		start_time,
		status,
		create_time,
		update_time
		FROM contest
	</sql>

	<sql id="ContestWhereCondition">
		<where>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
	</sql>
</mapper>  