<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.taurus.goj.dal.dao.contest.ContestProblemDAO">
	
	<resultMap type="contestProblem" id="contestProblemResultMap" />

	<insert id="createContestProblem" parameterType="contestProblem">
		INSERT INTO contest_problem
		(
		id,
		account,
		password,
		nick_name,
		signature,
		age,
		email,
		tel,
		school,
		status,
		create_time,
		update_time
		)
		VALUES
		(
		#{id},
		#{account},
		#{password},
		#{nick_name},
		#{signature},
		#{age},
		#{email},
		#{tel},
		#{school},
		#{status},
		NOW(),
		NOW()
		)
	</insert>

	<select id="getContestProblem" parameterType="contestProblem" resultType="contestProblem">
		<include refid="SelectContestProblem" />
		<where>
			id = #{id}
		</where>
	</select>

	<select id="findContestProblems" parameterType="contestProblem" resultType="contestProblem">
		<include refid="SelectContestProblem" />
		<include refid="ContestProblemWhereCondition" />
	</select>

	<update id="modifyContestProblem" parameterType="contestProblem"></update>

	<sql id="SelectContestProblem">
		SELECT
		id,
		account,
		password,
		nick_name,
		signature,
		age,
		email,
		tel,
		school,
		status,
		create_time,
		update_time
		FROM contest_problem
	</sql>

	<sql id="ContestProblemWhereCondition">
		<where>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
	</sql>
</mapper>  