<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.taurus.goj.dal.dao.contest.ContestProblemDAO">
	
	<resultMap type="contestProblem" id="contestProblemResultMap" />

	<insert id="createContestProblem" parameterType="contestProblem">
		INSERT INTO CONTEST_PROBLEM
		(
		contest_id,
		problem_id,
		status,
		create_time,
		update_time
		)
		VALUES
		(
		#{contest_id},
		#{problem_id},
		#{status},
		NOW(),
		NOW()
		)
	</insert>

	<select id="getContestProblem" parameterType="contestProblem" resultType="contestProblem">
		<include refid="SelectContestProblem" />
		<where>
			id = #{id}
		</where>
	</select>

	<select id="findContestProblems" parameterType="contestProblem" resultType="contestProblem">
		<include refid="SelectContestProblem" />
		<include refid="ContestProblemWhereCondition" />
		ORDER BY id
		LIMIT #{start_row}, #{page_size}
	</select>

	<update id="modifyContestProblem" parameterType="contestProblem"></update>

	<sql id="SelectContestProblem">
		SELECT
		id,
		contest_id,
		problem_id,
		status,
		create_time,
		update_time
		FROM CONTEST_PROBLEM
	</sql>

	<sql id="ContestProblemWhereCondition">
		<where>
			<if test="contest_id != null">
				AND contest_id = #{contest_id}
			</if>
			<if test="problem_id != null">
				AND problem_id = #{problem_id}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
	</sql>
</mapper>  