<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.taurus.goj.dal.dao.problem.ProblemDAO">

	<resultMap type="problem" id="problemResultMap" />

	<insert id="createProblem" parameterType="problem">
		INSERT INTO PROBLEM
		(
		title,
		description,
		input,
		output,
		sample_input,
		sample_output,
		test_input,
		test_output,
		source,
		manager,
		time_limit,
		memory_limit,
		status,
		create_time,
		update_time
		)
		VALUES
		(
		#{title},
		#{description},
		#{input},
		#{output},
		#{sample_input},
		#{sample_output},
		#{test_input},
		#{test_output},
		#{source},
		#{manager},
		#{time_limit},
		#{memory_limit},
		#{status},
		NOW(),
		NOW()
		)
	</insert>

	<select id="getProblem" parameterType="problem" resultType="problem">
		<include refid="SelectProblem" />
		<where>
			id = #{id}
		</where>
	</select>

	<select id="findProblems" parameterType="problem" resultType="problem">
		<include refid="SelectProblem" />
		<include refid="ProblemWhereCondition" />
		LIMIT #{start_row}, #{page_size}
	</select>

	<update id="modifyProblem"></update>

	<sql id="SelectProblem">
		SELECT
		id,
		title,
		description,
		input,
		output,
		sample_input,
		sample_output,
		test_input,
		test_output,
		source,
		manager,
		time_limit,
		memory_limit,
		status,
		create_time,
		update_time
		FROM PROBLEM
	</sql>

	<sql id="ProblemWhereCondition">
		<where>
			<if test="title != null">
				AND title = #{title}
			</if>
		</where>
	</sql>
</mapper>  