<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.taurus.goj.dal.dao.problem.SubmitDAO">
	
	<resultMap type="submit" id="submitResultMap" />

	<insert id="createSubmit" parameterType="submit">
		INSERT INTO submit
		(
		user_id,
		problem_id,
		source_code,
		verdict,
		time,
		memory,
		language,
		length,
		status,
		create_time,
		update_time
		)
		VALUES
		(
		#{user_id},
		#{problem_id},
		#{source_code},
		#{verdict},
		#{time},
		#{memory},
		#{language},
		#{length},
		#{status},
		NOW(),
		NOW()
		)
	</insert>

	<select id="getSubmit" parameterType="submit" resultType="submit">
		<include refid="SelectSubmit" />
		<where>
			id = #{id}
		</where>
	</select>

	<select id="findSubmits" parameterType="submit" resultType="submit">
		<include refid="SelectSubmit" />
		<include refid="SubmitWhereCondition" />
	</select>

	<update id="modifySubmit" parameterType="submit"></update>

	<sql id="SelectSubmit">
		SELECT
		id,
		user_id,
		problem_id,
		source_code,
		verdict,
		time,
		memory,
		language,
		length,
		status,
		create_time,
		update_time
		FROM submit
	</sql>

	<sql id="SubmitWhereCondition">
		<where>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
	</sql>
</mapper>  