<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.taurus.goj.dal.dao.problem.SubmitDAO">

	<resultMap type="submit" id="submitResultMap" />

	<insert id="createSubmit" parameterType="submit">
		<selectKey keyProperty="id" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO SUBMIT
		(
		user_id,
		problem_id,
		source_code,
		verdict,
		time,
		memory,
		language,
		length,
		type,
		status,
		create_time,
		update_time
		)
		VALUES
		(
		#{user_id},
		#{problem_id},
		#{source_code},
		#{verdict},
		#{time},
		#{memory},
		#{language},
		#{length},
		#{type},
		#{status},
		NOW(),
		NOW()
		)
	</insert>

	<select id="getSubmit" parameterType="submit" resultType="submit">
		<include refid="SelectSubmit" />
		<where>
			id = #{id}
		</where>
	</select>

	<select id="getSubmitCount" parameterType="submit" resultType="int">
		SELECT COUNT(*) FROM SUBMIT
		<include refid="SubmitWhereCondition" />
	</select>

	<select id="findSubmits" parameterType="submit" resultType="submit">
		<include refid="SelectSubmit" />
		<include refid="SubmitWhereCondition" />
		ORDER BY create_time DESC
		LIMIT #{start_row}, #{page_size}
	</select>

	<update id="modifySubmit" parameterType="submit">
		UPDATE SUBMIT
		<set>
			<if test="verdict != null">
				verdict = #{verdict}
			</if>
		</set>
		<where>
			id = #{id}
			<if test="verdict != null">
				AND verdict != #{verdict}
			</if>
		</where>
	</update>

	<sql id="SelectSubmit">
		SELECT
		id,
		user_id,
		problem_id,
		source_code,
		verdict,
		time,
		memory,
		language,
		length,
		type,
		status,
		create_time,
		update_time
		FROM SUBMIT
	</sql>

	<sql id="SubmitWhereCondition">
		<where>
			<if test="user_id != null">
				AND user_id = #{user_id}
			</if>
			<if test="problem_id != null">
				AND problem_id = #{problem_id}
			</if>
			<if test="verdict != null">
				AND verdict = #{verdict}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
	</sql>
</mapper>  