<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.taurus.goj.dal.dao.user.UserDAO">

	<resultMap type="user" id="userResultMap" />

	<insert id="createUser" parameterType="user">
		INSERT INTO user
		(
		account,
		password,
		nick_name,
		signature,
		age,
		email,
		tel,
		school,
		solved,
		submit,
		status,
		create_time,
		update_time
		)
		VALUES
		(
		#{account},
		#{password},
		#{nick_name},
		#{signature},
		#{age},
		#{email},
		#{tel},
		#{school},
		#{solved},
		#{submit},
		#{status},
		NOW(),
		NOW()
		)
	</insert>

	<select id="getUser" parameterType="user" resultType="user">
		<include refid="SelectUser" />
		<where>
			account = #{account}
		</where>
	</select>

	<select id="findUsers" parameterType="user" resultType="user">
		<include refid="SelectUser" />
		<include refid="UserWhereCondition" />
		ORDER BY solved DESC, submit DESC
		LIMIT #{start_row}, #{page_size}
	</select>

	<update id="modifyUser" parameterType="user">
		UPDATE user
		<set>
			<if test="submit != null">
				submit = submit + #{submit},
			</if>
			<if test="solved != null">
				solved = solved + #{solved},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<sql id="SelectUser">
		SELECT
		id,
		account,
		password,
		nick_name,
		signature,
		age,
		email,
		tel,
		school,
		solved,
		submit,
		status,
		create_time,
		update_time
		FROM user
	</sql>

	<sql id="UserWhereCondition">
		<where>
			<if test="account != null">
				AND account = #{account}
			</if>
			<if test="nick_name != null">
				AND nick_name = #{nick_name}
			</if>
			<if test="age != null">
				AND age = #{age}
			</if>
			<if test="email != null">
				AND email = #{email}
			</if>
			<if test="tel != null">
				AND tel = #{tel}
			</if>
			<if test="school != null">
				AND school = #{school}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
	</sql>
</mapper>  